.header {
    font-weight: bold;
    height: 790px;
    background:url('/img/fond.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1{
        font-size: 4rem;
        h2{
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .ligne {
        width: 450px;
        border-color: #FFF;
    }
}
.boutton{
    display:flex;
    flex-wrap: wrap;
}